MONGO_URI=mongodb+srv://<Usuario>:<db_password>@cluster0.bziapgx.mongodb.net/?appName=<nombreCluster>

# Opcional: si lo activas, algunas rutas con explain() se rechazarán si detectan COLLSCAN
ENFORCE_NO_COLLSCAN=0

# Opcional: para el CLI
API_BASE_URL=http://localhost:8000
